.noProducts {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
}

.noProducts h1 {
    font-size: 25px;
}

.backToHome {
    margin-top: 2rem;
}

.inCartTitle {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 2rem;
    font-size: 24px;
    text-shadow: gray 1.5px 1.5px;
}

.inCart {
    text-align: center;
}

.productInCart {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.productInCartDescription {
    text-align: left;
    margin-bottom: 1rem;
}

.productInCartSub {
    font-size: 12px;
    margin-left: 2rem;
}

.buttonsCart {
    display: flex;
    justify-content: center;
    font-weight: 500;
    background-color: rgb(237, 233, 233);
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.totalCart {
    display: flex;
    justify-content: center;
    font-weight: 500;
    background-color: rgb(237, 233, 233);
    padding: 1rem 0 0.5rem 0;
}

.cartDetail {
    display: inline-flex;
}

.imageInCart {
    width: 15%;
    height: auto;
    border: solid 2px #362f2f;
}

.deleteButton {
    margin-left: 10rem;
}