.cartButtons {
    display: flex;
    flex-direction: column;
}

.goToCart {
    width: 100%;
}

.productAdded {
    color: gray;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}

.cartWidget {
    color: white;
    font-size: 12px;
    text-align: right;
    font-weight: 500;
}

.shopping-icon {
    font-size: 15px;
}