/* Navbar.css */
.menu {
    display: flex;
    background-color: #333;
    letter-spacing: 3px;
    text-transform: uppercase;
    align-items: center;

    padding: 0 5px;
}

.menubar {
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    justify-content: space-between;
}

.navbar {
    color: #fff;
    padding: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.dropdown-content {
    padding: 0 10px;
    text-align: left;
    color: #fff;
}

.shopping-icon, .search-icon {
    list-style-type: none;
    color: #fff;
}

.shopping-icon:hover, .search-icon:hover, .dropdown-content:hover {
    cursor: pointer;
    color: gray;
}

.cart-count {
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    font-size: 70%;
}

spacer {
    max-width: 1rem;
}